# Build the gsas2pkg conda package on Mac (Intel) & Linux
#
# Prerequisite: upload access to Anaconda.org::briantoby
# see ~/G2/notes_anaconda.rtfd 

# TODO: could we build the Raspberry Pi-64 with Conda convert? (N.B. 
#    must use pip install for wxpython rather than conda)
#
name: build & test gsas2pkg

on:
  workflow_dispatch:   # nice for debugging
  push:
    branches: [ "main" ]
    paths:                  # want this to run only when files in
                            # g2pkg or gitstrap.py changes
      - install/gitstrap.py    
      - install/g2pkg/*

jobs:
  build:
    name: gsas2pkg build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15, macos-15-intel]
#        os: [macos-latest]   # single-platform testing
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v3
        #uses: conda-incubator/setup-miniconda@030178870c779d9e5e1b4e563269f3aa69b04081 # v3.0.3
        
        with:
          #activate-environment: build
          environment-file: install/g2pkg/conda-build-env.yml
          #python-version: 3.13
          miniforge-version: latest
          auto-activate-base: true

      # - name: failure diagnostics
      #   if: failure()
      #   shell: bash -l {0}
      #   run: |
      #     conda info
      #     conda list

      - name: build conda package and upload
        shell: bash -l {0}
        run: |
          cd install
          python g2pkg/makeBldFiles.py
          #conda build g2pkg -c conda-forge --numpy 1.26 --output-folder ../build
          conda build g2pkg -c conda-forge --output-folder ../build
          #if [ "$RUNNER_OS" == "macOS" ]; then
          #   conda convert ../build/osx-arm64/gsas2pkg-*.conda -p osx-64 -o ../build
             #ls -ltR ../build
          #fi
          #ls -ltR ../build/*/*.conda
          anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload ../build/*/*.conda --user briantoby --force

      - name: install GSAS-II with conda package
        shell: bash -l {0}
        run: |
          conda create -p ../testinstall briantoby::gsas2pkg

      - name: test GSAS-II
        shell: bash -l {0}
        run: |
          conda activate ../testinstall
          conda install -y pytest -c conda-forge
          cd ../testinstall/GSAS-II
          python -m pytest
