name: compile & test binaries (meson)
#
# this passes on the matrix settings to another workflow (comp-test.yml)
# that compiles the binaries and tests them.
#

permissions:
  contents: write

on:
  workflow_dispatch:   # nice to have for debugging
  
#  repository_dispatch: # TODO: launch from GSASII repo via Web API

jobs:
  version-matrix:
    strategy:
      fail-fast: false

      matrix:
#        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest, macos-13, macos-14] 
#        os: [ubuntu-latest, macos-13, macos-14]
#        os: [ubuntu-latest]
#        os: [macos-14]
#        os: [windows-latest]
#        os: [macos-14, macos-13]

        python-version: ["3.12", "3.13"]
#        python-version: ["3.13"]

    uses: ./.github/workflows/comp-test.yml
    with:
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}
    secrets: inherit
    