name: build & test self-installers (gsas2main)
#
# Master workflow to build and test the gsas2main*.(exe,sh) self-installers
# this passes on the matrix settings to another workflow (g2main-test.yml)
# with multiple jobs. 

permissions:
  contents: write

on:
  workflow_dispatch:   # nice for debugging
  repository_dispatch:
    types: [new-version-tag]  # Launch when a new version is created  
  push:
    branches: [ "main" ]
    paths:                  # want this to run only when files relevant to
                            # package build change
      - install/gitstrap.py
      - install/GSAS2main/*
      - .github/workflows/*g2main-test.yml

jobs:
  version-matrix:
    strategy:
      fail-fast: false

      matrix:
        os: [ubuntu-latest, windows-latest, macos-13, macos-14]
#        os: [ubuntu-latest, macos-13, macos-14]
#        os: [ubuntu-latest]
#        os: [ubuntu-latest, windows-latest]
#        os: [macos-14]
#        os: [windows-latest]
#        os: [windows-latest,macos-14]
#        os: [macos-13]

    uses: ./.github/workflows/g2main-test.yml
    with:
      os: ${{ matrix.os }}
    secrets: inherit
